<div class="pattern-center-blank"></div>
<div class="pattern-center ">
<style type="text/css">
    body {
        background: url(https://cdn.jsdelivr.net/gh/RomEYer-AwELF/CDNimg/img/500525466.jpg);
        background-attachment: fixed;
        }
    .pattern-center::after {
        width: 0%;
    }
    .site-content {
        background-color: rgba(255,255,255,0);
    }
    .site-footer {
        background-color: rgba(255,255,255,0);
    }
</style>
<meta http-equiv="refresh" content="0;url=https://od.loliloli.moe">
</div>